*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.myskill{
    width: 40%;
    margin: 2rem auto;
    border: 2px solid rgba(114, 111, 111, 0.679);
    box-shadow: inset 0px 0px 10px rgba(6, 6, 6, 0.75);
    border-radius: 10px;
}
.myskill h1{
    text-align: center;
}
.skill-section{
    width: 90%;
    margin: 1rem auto;
    /* background-color: rebeccapurple; */
    /* margin: 2rem; */
}
.skill-1{
    border: 1px solid rgba(0, 0, 0, 0);
}
.skill-1 h3{

    margin: 0.5rem 0;
}
.outer-sec{
    display: block;
    width: 90%;
    background-color: rgb(66, 55, 55);
    border-radius: 15px;
    height: 1.8rem;
    /* border: 2px solid rgba(114, 111, 111, 0.679); */
    background-image: linear-gradient(to right, #f5f3f5, #dedcde, #c7c6c7, #b1b0b1, #9b9b9b);
}
.inner-sec{
    height: 100%;
    width: 90%;
    background-color: pink;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: right-to-left;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    /* border: 2px solid rgba(114, 111, 111, 0.679); */
    /* box-shadow: 0px 0px 10px rgba(255, 250, 250, 0.75); */

}
.inner-sec4{
    width: 50%;
    animation-name: right-to-left-css;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.inner-sec3{
    width: 70%;
    animation-name: right-to-left-js;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.inner-sec2{
    width: 62%;
    animation-name: right-to-left-cpp;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.inner-sec1{
    width: 80%;
    animation-name: right-to-left-java;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes right-to-left {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
    
}
@keyframes right-to-left-css {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
    
}
@keyframes right-to-left-js {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
    
}
@keyframes right-to-left-cpp {
    0%{
        width: 0%;
    }
    100%{
        width: 62%;
    }
    
}
@keyframes right-to-left-java {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
    
}
.inner-sec{
    background-image: linear-gradient(to right, #cd3fa3, #c1419d, #b64396, #ab4490, #a04589);
}
.metric h4{
    color: whitesmoke;
}